<h2>Pedidos</h2>
<table>
    <tbody>
        <tr>
            <td>ID</td>
            <td>ID_MSG</td>
            <td>MAIL</td>
            <td colspan="2">CSV</td>
        </tr>
        <% for(var i=0;i<datos.length;i++){ %>
        <tr>
            <td><%= datos[i].id %></td>
            <td><%= datos[i].id_correo %></td>
            <td><%= datos[i].email %></td>
            <td colspan="2"><% if(datos[i].csv.length>400) { %>
                    <%= datos[i].csv.substring(0,400)+"...." %>
                <% }else{ %>
                    <%= datos[i].csv %>
                <% } %>
            %></td>
        </tr>
        <% } %>
    </tbody>
</table>
